.navbar {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.animate-navbar {
    animation: slideDown 0.5s ease-in-out;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}



.footer{
    margin-top: 15px;
}

.foot-panel1{
    background-color: #37475a;
    color:white;
    height:70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}
.foot-panel2{
    background-color: #222f3d;
    color:white;
    height:350px;
    display: flex;
    justify-content: space-evenly;
}

.foot-panel2 ul{
    margin-top: 20px;
}
.foot-panel2 ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color:#dddddd
}

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;

}

.foot-panel4{
    background-color:#0f1111;
    color:white;
    height:100px;
    font-size: 0.7rem;
    text-align: center;
}

.pages{
    
    padding-top: 25px;
}
.copy{
    
    padding-top: 5px;
}